<h3>Patients List</h3>
<ul>
  <% @patients.each do |pat| %>
    <li>
      <p>Name: <%= link_to pat.name, patient_path(pat) %>
      <br><%= "Number of Appointments: #{pat.appointments.count}" %></p>
    </li>
  <% end %>
</ul>